* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: #d9d9d9;
}

body::before {
  content: "";
  width: 100%;
  height: 368px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #121214;
}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 80px;
}

header h1 {
  font-family: "Archivo", sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin-bottom: 24px;
}

header p {
  color: #42d3ff;
  font-size: 16px;
  line-height: 26px;
}

form {
  background: #fafafc;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  min-height: 300px;
  margin-top: 42px;

  padding: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  color: #32264d;
  font-family: "Archivo", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;

  width: 100%;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-wrapper label,
.checkbox-wrapper label {
  color: #4e4958;
  font-size: 14px;
  line-height: 24px;
}

.input-wrapper label span {
  color: #c1bccc;
  font-size: 12px;
  line-height: 20px;
  margin-left: 12px;
}

.input-wrapper label span:hover {
  color: #4e4958;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;

  padding: 0 24px;

  color: #6c6a71;
  font-size: 16px;
  line-height: 26px;
}

.input-wrapper textarea {
  padding: 0;
  height: 168px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.col-3 {
  display: flex;
  gap: 20px;
}

.col-3 .first {
  width: 100%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

.checkbox-wrapper input {
  position: absolute;
  width: 24px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2002_23)'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2002_23'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid black;
}

footer {
  background: #f0f0f4;

  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
  border-radius: 0px 0px 8px 8px;
}

footer button {
  border: 0;
  background: #04d361;
  border-radius: 8px;
  display: flex;
  width: 608px;
  height: 56px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: #fff;
  font-family: Archivo;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

footer button:hover {
  background: #04d361d1;
}

input:invalid {
  border: 1px solid #ff1010;
}
